
* {
    font-family: Arial, sans-serif !important;
}

html {
    background-color: #BEC7BD;
}

body {
    position: relative;
    color: #4a4a4a;
}

.ball {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #808080;
    border-radius: 50%;
    top: 30px;
    left: 300px;
}

.controls {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 80px;
    width: 220px;
    top: 220px;
    line-height: 40px;
    color: grey;
    font-size: 12px;
    font-weight: bold;
    //text-align: center;
    border: solid lightGrey 2px;
    border-radius: 8px;

    div {
        min-width: 33%;
        flex-grow: 1;
        max-width: 38%;
    }

    :first-child {
        position: relative;
        left: 2%;
    }

    code {
        color: black;
        font-size: 12px;
        font-weight: bold;
    }

    &.player1 {
        left: -40%;
    }

    &.player2 {
        right: -40%;
    }
    @media(max-width: 1180px) {
        opacity: 0.5;

        &.player1 {
            left: 5%;
            top: 173px;
        }

        &.player2 {
            right: 5%;
            top: 173px;
        }
    }
}

.scoreboard {
    position: absolute;
    height: 130px;
    width: 130px;
    border: solid 8px black;
    border-radius: 3px;
    line-height: 25px;

    &.one {
        left: -34%;
        top: 40px;
        background: #00c3e3;
    }

    &.two {
        right: -34%;
        top: 40px;
        background: #ff4554;
    }
    @media(max-width: 1180px) {
        opacity: 0.2;
        &.one {
            left: 10%;
            top: 0;
        }

        &.two {
            right: 10%;
            top: 0;
        }
    }

    h1 {
        font-size: 28px;
        font-weight: bolder;
        text-align: center;
        line-height: 70px;
    }

    ul {
        font-size: 18px;
        font-weight: bold;
        text-align: center;

    }
}

.border {
    position: relative;
    margin: 60px auto;
    height: 480px;
    width: 640px;
    border: solid 20px black;
    border-radius: 3px;

}

main {
    position: relative;
    margin: auto;
    height: 480px;
    width: 640px;
    overflow: hidden;
}

.platform {
    position: absolute;
    height: 20px;
    width: 100px;
    background: black;
}

.level-one {
    .one {
        bottom: 90px;
        left: 10%;
    }

    .two {
        bottom: 90px;
        left: 42%;
    }

    .three {
        bottom: 90px;
        right: 10%;
    }
}

.level-two {
    .four {
        bottom: 200px;
    }

    .five {
        bottom: 200px;
        right: 0%;
    }
}

.level-three {
    .platform {
        &.six {
            bottom: 310px;
            left: 5%;
        }

        &.seven {
            bottom: 310px;
            right: 5%;
        }

        &.eight {
            bottom: 310px;
            left: 20%;
        }

        &.nine {
            bottom: 310px;
            right: 20%;
        }

        &.ten {
            bottom: 310px;
            left: 22%;
        }

        &.eleven {
            bottom: 310px;
            right: 22%;
        }
    }
}

.visor {
    width: 24px;
    height: 14px;
    background-color: black;
    position: absolute;
    top: 4px;
}

.gun {
    position: absolute;
    width: 18px;
    height: 5px;
    background-color: black;
    top: 21px;
}

.player {
    position: absolute;
    width: 28px;
    height: 60px;

    &.one {
        top: 420px;
        left: 15px;
        border-radius: 2px 15px 0 0;
        background: #00c3e3;

        .visor {
            left: 3.6px;
            border-radius: 2px 10px 0 0;
        }

        .gun {
            left: 20px;
        }
    }

    &.two {
        top: 420px;
        left: 597px;
        border-radius: 15px 2px 0 0;
        background: #ff4554;

        .visor {
            border-radius: 10px 2px 0 0;
        }

        .gun {
            left: -9px;
        }
    }
}

.laser {
    background: #00ff00;
    width: 40px;
    height: 4px;
    position: absolute;
    z-index: -1;
}
